.nav-menu-open {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
}

.nav-menu-open a {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 36px;
}

.bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 30px;
    height: 25px;
    top: 32px;
    left: initial;
    right: 20px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
    border-radius: 4px;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 34px;
    width: 34px;
    right: 24px !important;
    top: -1px !important;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #000000;
    height: 24px !important;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 1.7em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    padding-top: 3rem;
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    /* background: rgba(0, 0, 0, 0.3); */
    display: none;
  }
  
  .bm-menu {
    background: white;
  }

  .bm-item-list a {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    color: #000000;
  }

  .bm-menu-wrap {
    width: 100% !important;
    top: 0px;
  }

  .bm-menu-wrap .bm-menu {
    padding-left: 15px;
  }

  #page-wrap {
      z-index: 9999;
  }
