/* ./assets/stylesheets/tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.w-accountdetail-card {
    max-width: 552px;
}

.button-border {
    border: 1px solid #239C6D;
}

.text-25xl {
    font-size: 26px;
}

.grey-text {
    color: #A3A3A3;
}

.responsive-unpause-modal-card {
    width: 100%;
}

.global-modal-overlay {
    background-color: rgba(0,0,0,0.3);
}

.filled-global-button {
    border-color:  #239C6D;
    background-color: #239C6D;
    color: #ffffff;
}

@media only screen and (min-width: 620px) {
    .responsive-unpause-modal-card {
        width: 45%;
    }
}

@media only screen and (max-width: 620px) {
    .global-modal-overlay {
        background-color: #ffffff;
    }
}
